# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. Javascript
3. C++

Some of the commonly used libraries used by Data Scientists include:

1. Apache Spark
2. Panda
3. Tensorflow

|Data Science Tools|
|------------------|
|Visual studio code|
|MySQL             |
|Kubernetes        |

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [47]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60This will convert 200 minutes to hours by diving by 60

In [52]:
200 /60

3.3333333333333335

## Author

In [ ]:
Juan Pineda